<li>
  <a href="https://twitter.com/trassenfinder" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span class="label">Twitter</span>
  </a>
</li>
<li>
  <a href="https://freiburg.social/@ummels" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i><span class="label">Mastodon</span>
  </a>
</li>
<li>
  <a href="https://github.com/ummels" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
  </a>
</li>
<li>
  <a href="/feed.xml">
    <i class="fas fa-fw fa-rss" aria-hidden="true"></i><span class="label">Feed</span>
  </a>
</li>
