{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h1 class="page__title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h1>
    {% include page__meta.html %}
    
    <section class="page__content" itemprop="text">
      {{ post.content }}
      {% if post.link %}<div><a href="{{ post.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
    </section>

    {% if post.share %}{% include social-share.html %}{% endif %}
  </article>
