---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*
 * Variable overrides
 */
$serif: Merriweather, Georgia, Times, serif;
$sans-serif: "Merriweather Sans", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: Cousine, Monaco, Consolas, "Lucida Console", monospace;

$global-font-family: $serif;
$header-font-family: $sans-serif;
$caption-font-family: $serif;
$doc-font-size: 14pt;

$primary-color: #3a6a3a;
$text-color: #333332;

$link-color: #448844;
$link-color-hover: $link-color;
$link-color-visited: $link-color;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $link-color;

$intro-transition  : none;
$global-transition : none;

/*
 * Inherit from Minimal Mistakes theme
 */
@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes";

/*
 * Customization
 */
body {
  font-size: $doc-font-size;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .site-title {
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  font-size: $type-size-5;
  background: none;
  border: none;
  box-shadow: none;

  &:before, &:after {
    content: ""; /* omit extra space */
  }
}

.page__content {
  p:last-child {
    margin-bottom: 0;
  }
}

.sidebar {
  opacity: 1;
  
  p, li {
    font-family: $serif;
    font-style: italic;
  }
}

.author__avatar {
  img {
    max-width: 150px;
    border: none;
  }
}

.author__urls {
  a, li {
    margin-bottom: 0;
    font-style: normal;
  }
}

.tag_cloud {
  display: none;

  @include breakpoint($large) {
    display: block;
  }

  a {
    color: $text-color;
  }

  a:hover {
    text-decoration: underline;
  };
}

.page__footer {
  footer {
    margin-top: 1em;
    padding: 0 1em 1em;
  }
}

.page__title {
  a {
    color: $text-color;
  }
  
  a:hover {
    color: $link-color-hover;
  }
}

.page__meta > span {
  padding-left: 1em;
}

.page__meta > span:first-child {
  padding-left: 0;
}

.page__taxonomy {
  .sep {
    display: inline;
  }
  
  strong {
    margin-right: 0;
  }
}

.page__taxonomy-item {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;

  &:hover {
    color: $link-color-hover;
  }
}

.page__share {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

.home {
  .archive__item {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;
  }
}

.archive__item-title {
  a:hover {
    color: $link-color-hover;
  }
}

.taxonomy__index {
  display: none;
}

.taxonomy__section {
  a.back-to-top {
    display: none;
  }
}

.pagination {
  margin-top: 0;
  padding-top: 0;
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  margin-top: 0;
  border: none;
}

.page__related {
  margin-top: 1em;
  padding-top: 0;
  border: none;
}

.page__related-title {
  text-transform: none;
}

/*
 * Social Icons (disable brand colors)
 */
.social-icons {
 .fas, .fab {
    color: $text-color;
  }
}
